<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.cafego.api.member.MemberMapper">

	<!-- 회원 보유 포인트 정보 조회(예시) -->
	<select id="getMemberPointInfo" parameterType="java.util.Map" resultType="co.kr.cafego.api.member.dto.MemberPointInfoDto">
		SELECT member.*
		  FROM (SELECT mi.member_num	as memberNum
			 		 , mi.member_name	as memberName
			 		 , mi.member_sex	as memberSex
			 		 , mi.member_phone	as memberPhone
			 		 , mi.member_email	as memberEmail
			 		 , mi.join_flag		as joinFlag
			 		 , mi.member_status as status
			 		 , mp.point		as point
			 		 , (CASE WHEN mwi.wd_date >= TO_CHAR(SYSDATE+7, 'YYYYMMDD')
			 		 		 THEN 'Y'
			 		 		 ELSE 'N'
			 		 	END) 			as wdYn
				  FROM MEMBER_INFO mi
				     , MEMBER_POINT mp
				     , MEMBER_WITHDRAWAL_INFO mwi
				 WHERE mi.member_num = mp.member_num
				   AND mi.member_num = mwi.member_num(+)
				   <if test="email != null and email != ''">
				   AND mi.member_email = #{email}
				   </if>
				   <if test="memberNum != null and memberNum != ''">
				   AND mi.member_num = #{memberNum}
				   </if>
				) member
		 	WHERE member.wdYn = 'N'
	</select>
	
	<!-- 회원 가입 -->
	<insert id="memberJoin" parameterType="java.util.Map">
		<selectKey resultType="java.lang.String" keyProperty="memberNum" order="BEFORE">
			SELECT CAFE_MEMBER_MEMBER_NUM_SEQ.nextval FROM dual
		</selectKey>
		INSERT INTO CAFE_MEMBER(
			  member_num
			, member_name
			, member_sex
			, member_phone
			, member_email
			, member_status
		)
		VALUES(
			  #{memberNum}
			, #{memberName}
			, #{memberSex}
			, #{phone}
			, #{email}
			, 'O' 
		)
	</insert>
	
</mapper>
