<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.cafego.api.member.MemberMapper">

	<!-- 회원 보유 포인트 정보 조회(예시) -->
	<select id="getMemberPointInfo" parameterType="java.util.Map" resultType="co.kr.cafego.api.member.dto.MemberPointInfoDto">
		SELECT member.*
		  FROM (SELECT mi.member_num	as memberNum
			 		 , mi.member_name	as memberName
			 		 , mi.member_sex	as memberSex
			 		 , mi.member_phone	as memberPhone
			 		 , mi.member_email	as memberEmail
			 		 , mi.join_flag		as joinFlag
			 		 , mi.member_status as status
			 		 , mp.point		as point
			 		 , (CASE WHEN mwi.wd_date >= TO_CHAR(SYSDATE+7, 'YYYYMMDD')
			 		 		 THEN 'Y'
			 		 		 ELSE 'N'
			 		 	END) 			as wdYn
				  FROM MEMBER_INFO mi
				     , MEMBER_POINT mp
				     , MEMBER_WITHDRAWAL_INFO mwi
				 WHERE mi.member_num = mp.member_num
				   AND mi.member_num = mwi.member_num(+)
				   <if test="email != null and email != ''">
				   AND mi.member_email = #{email}
				   </if>
				   <if test="memberNum != null and memberNum != ''">
				   AND mi.member_num = #{memberNum}
				   </if>
				) member
		 	WHERE member.wdYn = 'N'
	</select>
	
	<!-- 회원 가입 -->
	<insert id="regMember" parameterType="java.util.Map">
		<selectKey resultType="java.lang.String" keyProperty="memberNum" order="BEFORE">
			SELECT SEQ_MEMBER_NUM.nextval FROM dual
		</selectKey>
		INSERT INTO MEMBER_INFO(
			  member_num
			, member_name
			, member_sex
			, member_phone
			, member_email
			, member_status
			, join_flag
			<if test="dbPwd != null and dbPwd != ''">
			, member_pwd
			</if>
		)
		VALUES(
			  #{memberNum}
			, #{memberName}
			, #{memberSex}
			, #{memberPhone}
			, #{memberEmail}
			, #{status}
			, #{joinFlag}
			<if test="dbPwd != null and dbPwd != ''">
			, #{dbPwd}
			</if>
		)
	</insert>
	
	<!-- 중복 카드 조회 -->
	<select id="memberCardDupCheck" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM MEMBER_CARD_INFO
		 WHERE CARD_NUM = #{cardNum} 
		   AND MEMBER_NUM = #{memberNum}
	</select>
	
	<!-- 회원 카드 등록 -->
	<insert id="regMemberPointInfo" parameterType="java.util.Map">
		INSERT INTO MEMBER_POINT(
				member_num
			  , point
		)
		VALUES(
				#{memberNum}
			  , #{pointAmt}
		)
	</insert>
	
	<!-- 회원 Email로 정보 조회 -->
	<select id="getMemberInfoByEmail" parameterType="java.util.Map" resultType="co.kr.cafego.api.member.dto.MemberInfoDto">
		SELECT member_num    as memberNum
			 , member_name   as memberName
			 , member_sex    as memberSex
			 , member_phone  as memberPhone
			 , member_email  as memberEmail
			 , join_flag     as joinFlag
			 , member_status as status
			 , member_pwd 	 as memberPwd
			 , fail_cnt		 as failCnt
		  FROM MEMBER_INFO 
		 WHERE MEMBER_EMAIL = #{memberEmail}
		   AND JOIN_FLAG    = #{joinFlag}
	</select>
	
	<!-- 회원 로그인 실패 CNT 업데이트 -->
	<update id="updateFailCnt" parameterType="java.util.Map">
		UPDATE MEMBER_INFO
		   SET FAIL_CNT = FAIL_CNT +1
		 WHERE MEMBER_EMAIL = #{memberEmail}
		   AND JOIN_FLAG	= #{joinFlag}  
	</update>
	
	
	<insert id="regMemberCard" parameterType="java.util.Map">
		INSERT INTO MEMBER_CARD_INFO(
				member_num
			  , card_num
			  , amount
			  , status
			  , reg_date
		)
		VALUES(
				#{memberNum}
			  , #{cardNum}
			  , 0
			  , #{status}
			  , SYSDATE
		)
	</insert>
</mapper>
