<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.cafego.api.payment.PaymentMapper">

	<!-- 회원 가입 -->
	<update id="updateCartPayReady" parameterType="java.util.Map">
		UPDATE CART_INFO 
		   SET STATUS = '01'
		 WHERE CART_NO = #{cartNo} 
	</update>
	
	<insert id="insertPaymentReady" parameterType="java.util.Map">
		INSERT INTO PAYMENT_INFO(
			  cart_no
			, member_num
			, store_code
			, payment_amt
			, tid
			, status
			, pay_method
			, pay_date
		)
		VALUES(
			  #{cartNo}
			, #{memberNum}
			, #{storeCode}
			, #{paymentAmt}
			, #{tid}
			, 'O1'
			, #{payMethod}
			, SYSDATE
		)
	</insert>
	
	<select id="orderPossibleCartInfo" parameterType="java.util.Map" resultType="co.kr.cafego.api.cart.dto.CartInfoDto">
		SELECT cart_no as cartNo
			 , status as status
		  FROM CART_INFO
		 WHERE cart_no = #{cartNo} 
		   AND status NOT IN ('01')  
	</select>
	
</mapper>
